
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton');

body{
    background: linear-gradient(-45deg, #395B64, #739d9e);
    background-size: 400% 400%;
    height: 100vh;
}

.body {
    font-family: 'Playfair Display', serif;
    line-height: 1.8;
    color: #f5f6f7;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }
	
.center-div
{
    margin: 0 auto;
    max-width: 700px;
}
	  
p {font-size: 16px;}

.section_title {
width:100%;
font-size: 50px;
margin-bottom: 45px;
}

.container-fluid {
padding-top: 50px;
padding-bottom: 50px;
}

.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
text-align: center;
}

.navbar-nav  li a:hover {
color: #1abc9c !important;
}

.edu_img{
    display:inline-block;
}

.luminotify{
font-size: 25px;    
}

.item1{
position:relative; 
width:50%;
float:left;
}

.item2{
position:relative; 
width:50%;
float:right;
} 

.column {
float: left;
width: 33.33%;
    padding: 5px;
}

.col-30 {
float: left;
width: 29.99%;
    padding: 5px;
}

.col-70 {
float: left;
width: 69.99%;
    padding: 5px;
}

.col-50 {
float: left;
width: 49.99%;
    padding: 5px;
}

.project {
display: flex;
justify-content: center;
width: 50%;
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

.education_section{
    display:inline-block;
    padding: 1em;
    justify-content: center;
    position: relative;
    background-color: var(--bgColorMenu);
}

.project_section{
    display:inline-block;
    padding: 1em;
    padding-left: 3em;
    background-color: var(--bgColorMenu);
}

.project_text {
  font-size: 3.5em;
}

.experience {
display: flex;
justify-content: center;
width:80%;
padding: 5px;
padding-top: 10px;
padding-bottom: 10px;
}

.experience__section{
display:inline-block;
padding: 1em;
padding-left: 3em;
background-color: var(--bgColorMenu);
}

.experience_header{
  font-size: 3.5em;
  width:100%;
  float:left;
  padding:3px ;
}

.font_text {
  font-family: 'Sanchez', serif;
  font-size: 2em;
}

.experience_box{
  width:100%;
  display: inline-block;
}

.social-part{
    padding-right:20px;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    text-align: center;
    vertical-align: middle;
}

li {
    list-style-type: '>  ';
    text-align: left;
}

.terminal_animation {
    padding:30px;
    text-align: center;
    vertical-align: middle;
}

.dropdown {
    padding-right:20px;
    color: #000;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.menu_dropdown{
    text-align: center;
}

.brand_name {
    font-family: 'Anton', serif;
    color: #f5f6f7;
    height: 50%;
    margin: 0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.button {
  border: 0;
  line-height: 3.5;
  color: #fff;
  background-color: #6c757d;
  border-radius: 8px;
  flex-shrink: 0;
  font-size: 20px;
  height:80px;
  width:200px;
  text-align: center;
}

.button:hover {
  box-shadow: rgba(135, 126, 201, 0.5) 0 1px 30px;
  transition-duration: .1s;
}


.text-bg {
    text-align: left;
}

.ban_img {
    overflow: hidden;
    margin-right: -45px;
    margin-top: 100px;
}

.ban_img figure img {
    width: 90%;
    margin-bottom: -150px;
}

.text-bg h1 {
    color: #f2c119;
    font-size: 116px;
    line-height: 120px;
    padding-bottom: 50px;
    font-weight: 400;
}

.text-bg p {
    color: #2a2a2c;
    font-size: 4em;
    margin-bottom: 50px;
}

.text-bg .read_more {
    font-weight: 500;
    background: #1d37fd;
    color: #fff !important;
    border-radius: 43px;
    margin-right: 25px;
    padding: 13px 0;
    max-width: 210px;
}

.text-bg .read_more:hover {
    background: #fcc10e;
    color: #000 !important;
}

@media screen and (max-width: 780px) {

    .edu_img{
    float: center;
    }
    
    .item1{
    width: 100%;
    z-index: 1;
    float: none;
    }
    .item2{
    width: 100%;
    z-index: 2;
    float: none;
    }
    
    .column {
    width: 100%;
    float: left;
    padding: 5px;
    }
    
    .col-30 {
    float: left;
    width: 100%;
    padding: 5px;
    }
    
    .col-70 {
    float: left;
    width: 100%;
        padding: 5px;
    }
    
    .col-50 {
    float: left;
    width: 100%;
        padding: 5px;
    }
    
    .project {
        width: 100%;
    }
    
    .exper {
    width: 100%;
        padding: 5px;
        padding-top: 5px;
    padding-bottom: 5px;
    }

    .collapse{
        display:none;
    }

    .experience {
      width:95%;
    }
    
}

.contact-us-content {
  border-radius: 23px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10);
}

.contact-us-content .more-info {
  text-align: center;
  background: rgb(85,0,227);
  background: linear-gradient(90deg, #68c3d4 0%, #568ea3 100%);
  border-radius: 0px 0px 23px 23px;
  padding: 45px 30px 15px 30px;
}

.contact-us-content .more-info .info-item {
  text-align: center;
  margin-bottom: 45px;
}

.contact-us-content .more-info i {
  font-size: 32px;
  color: #fff;
}

.contact-us-content p {
  font-size: 26px;
  color: #000;
  padding: 45px 30px 15px 30px;
  font-family: 'Anton', serif;
}

.contact-us-content .more-info h4 a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.navbar .nav li.has-sub {
  position: relative;
}

.navbar .nav li.has-sub ul.sub-menu {
  position: absolute;
  justify-content: center;
  width: 300px;
  background-color: #eee;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transition: all .3s;
  transform: translateY(+2em);
  visibility: hidden;
  z-index: -1;
}

@media screen and (max-width: 780px) {
  .navbar .nav li.has-sub ul.sub-menu {
    width: 100%;
  }
}

.js-preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.99);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.js-preloader.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.navbar .nav{
  padding-left: 0px;
  padding-right: 0px;
}

.navbar .nav li{
  text-align: center;
}

.navbar .nav li.has-sub ul.sub-menu li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar .nav li.has-sub ul.sub-menu li a {
  opacity: 1;
  justify-content: center;
  display: block;
  background: #eee;
  color: #2a2a2a!important;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}

.navbar .nav li.has-sub ul.sub-menu li:last-child a {
  border-bottom: none;
}

.navbar .nav li.has-sub ul li a:hover {
  background: #fff;
  color: #68c3d4!important;
  padding-left: 25px;
}

.navbar .nav li.has-sub ul li a:hover:before {
  width: 5px;
}

.navbar .nav li.has-sub:hover ul.sub-menu {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.navbar .menu-trigger {
  cursor: pointer;
  position: absolute;
  top: 33px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 20px;
  display: none;
}

